

    <div class="wrapper">
        <div class="container">
            ::before
            <div class="page title">
                <h1>{{Mark your Calendar}}</h1>
            </div>
            ::after
        </div>
        <div class="container">
            ::before
            <div class="row cb_row">
                ::before
                <p style="text-align: center;">
                    <img src="" style="width: 487px; height: 476px;" width="487" height="476">
                </p>
                <hr>
                <h2 class="heading" id="RAIN OR SHINE"
                 <p>Sunday, July 30, 2022 11AM - 7PM</p>
                 <hr>
                 <p>
        <div class="wrapper">
        <div class="container">
            <span class="justifyfull"> "The taste of Dining Unders the Stars Food festival event is honored to support and help the community. 
            Grab everything from Italian cuisine, savory BBQ to sweet desserts from over 50 of gourmet food vendors. 
            Purchase spices, homemade oils and honey or stock up on fresh vegetables and fruits at the farm stand." 
            </span>
            </p>
        </div>
    </div>

                        




