header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
* {
  margin: 0;
  padding: 0;
  font-family: san-serif;
  box-sizing: border-box;
}
h1 {
    text-align: center  ;
    padding: 20px;
    background-color: green;
}
nav {
  background-color: bisque;
  display: grid;
  place-items: center;
}
nav::after{
  content: '';
  clear: both;
  display: table;
}
nav ul {
  list-style-type: none;
  float: right;
  margin-right: 40px;
  position: relative;
}
nav ul li {
  float: left;
  display: inline-block;
  padding: 20px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul ul {
  position: absolute;
  top: 70px;
  opacity: 0;
  visibility: hidden;
}
nav ul li :hover > ul {

}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid #056605;
}
nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul li a:hover {
  box-shadow: 0 0 5px #056605;
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  display: list-item;
  border-bottom: 1px;
  font-size: 18px;
}
items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px; 
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
item img{
  width: 40%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
}
item img:hover{
  transform: scale(1.04);
}
item h2 {
  padding: 5px;
  text-align: center;
}
item button {
  padding: 5px 30px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  color: aquamarine;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
item button:hover {
  transform: scale(1.08);
}
@media and (max-width: 1000px) 
items {
    grid-template-columns: repeat(2, 1fr);
}

@media and (max-width: 768px) {
  items {
    grid-template-columns: repeat(1, 1fr);
  }

